<div *ngIf="!this.isLoaded" class="bg-gray-900 d-flex justify-center text-white">
  <h3>DATA IS LOADING...</h3>
</div>


<section id="projects" class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">My best Projects</h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">The following provided projects represent my knowledge and experience in programming.</p>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="xl:w-1/4 md:w-1/2 p-4" *ngFor="let project of this.projectsArray">
          <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
            <img class="h-50 rounded w-full object-cover object-center mb-6" [src]="project.img" alt="content">
            <h3 class="tracking-widest text-indigo-400 text-xs font-medium title-font">{{project.subtitle}}</h3>
            <h2 class="text-lg text-white font-medium title-font mb-4">{{ project.title }}</h2>
            <p class="leading-relaxed text-base">{{ project.description }}</p>
            <button class="flex mx-auto mt-5 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded" [routerLink]="['/home/project', project.title]">See More</button>
          </div>
        </div>
      </div>
    </div>
</section>

